            
            .flex{
                height:700px; 
                width: 100%;
                display: flex;
                flex-direction: row;             

            }
            .flex div{
                width: 50%;
                height: 100%;
                display: flex;align-content: space-between;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-size: 48px;
                color: white;
            }
            @media screen and (min-device-width: 0px) and (max-device-width: 481px){
  
                .flex{
                    height: 2000px;
                    width: 1000px;
                    display: flex;
                    flex-direction:column;             

                }
                .flex div{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                }
            }