
 #button1{
    background-image: url(../image/th.jpg);
    height: 100px;
    background-repeat:no-repeat;/* no-repeat    repeat-x        repeat-y         repeat is default*/
    background-position: center;
    background-size: contain;

    

}

#textdecoration{
    background-color: #aaa;
    text-decoration: underline;
    font-family:Arial;
    text-align:center;/* Center Right left*/
    text-transform:uppercase;/* uppercase lowercase*/
    font-style:italic;
    font-weight: bold;/* bold           normal          lighter       bolder*/ 

}

a{
    text-decoration: none;
    background-color:red;
    color: white;
    padding: 5px;
}

.border{
    border-width: 2px;
    border-style: dotted;
    border-color: blue;
    border: 2px solid red;
} 

.orange{
    border: 2px solid black;
    width: 200px;
    height: 300px;
    text-align: center;

}
.orange div{
    background-color: orange;
    color: white;
    width: 70px;
    height: 70px;
    margin-top: 50%;
    margin-left: 30%;
        
    
}
.orange div p{
    padding-top:50px;

}
.sup{
    font-weight: lighter;
    font-size: 8px;
}

.inline{
    background-color:black;
    width: 650px;
    height: 350px;
}
.inline div{
    display:inline-block;
    background-color: red;
    width: 150px;
    height: 250px;
    margin-top: 52px;
    margin-right: 9px;
    border: 2px doted green;
    outline: 2px solid yellow;
}
.page{
    list-style-type:none;
    background-color:blueviolet;
    width: 500px;
    height: 50px;
    
}
.page li{
    display: inline-block;
    background-color: red;
    width: 22%;  
    height: 90%;  
   
    
}
.image1{
    float: right;
    margin-left: 15px;
    max-width:510px;
}

form{
    display: inline;
}

